# anything user-specific (as opposed to repository-specific) should go
# to .git/info/exclude instead of .gitignore. Also, .gitignore files
# can be placed in sub-directories to avoid polluting the root one.
hokusai/hokusai_2d/CMakeLists.txt.user.*
hokusai/hokusai_3d/CMakeLists.txt.user.*
